@import 'nib';
@import '../vars.styl';

.contact
  align-items center
  background-color $contact-background-color
  display flex
  padding 20px
  position relative
  z-index 3
  .contact-logo
    align-items flex-end
    background-position center
    background-repeat no-repeat
    display flex
    height 60px
    justify-content center
    margin-bottom 20px
    transition all .15s
    width 60px
    &:hover
      cursor pointer
      transform scale(1.1)
      span
        color black
    span
      bottom -20px
      color #888e99
      position relative
      text-align center
      width 100%
  .logo-email
    background-image url(./imgs/gmail-logo.svg)
    &:hover
      cursor default
      transform scale(1)
    span
      margin-left -50px
      user-select all
      &:hover
        cursor pointer
  .logo-linked
    background-image url(./imgs/linkedin-logo.svg)
  .logo-github
    background-image url(./imgs/github-logo.svg)
