@import 'nib';
@import '../vars.styl';

.home
  background-color $home-background
  color $home-color
  min-height 350px
  padding-bottom 40px
  .home-padding
    padding-top 30px
  .home-img-container
    display flex
    justify-content space-between
    padding 10px 0px 25px 0px
    .home-logo
      align-items flex-end
      background-position center
      background-repeat no-repeat
      display flex
      height 60px
      justify-content center
      margin-bottom 20px
      transition all .3s
      width 60px
      span
        bottom -20px
        position relative
        text-align center
        width 100%

    .logo-react
      background-image url(./imgs/react-logo-grey.svg)
      &:hover
        background-image url(./imgs/react-logo-color.svg)
    .logo-sass
      background-image url(./imgs/sass-logo-grey.svg)
      &:hover
        background-image url(./imgs/sass-logo-color.svg)
    .logo-git
      background-image url(./imgs/git-logo-grey.svg)
      &:hover
        background-image url(./imgs/git-logo-color.svg)
    .logo-node
      background-image url(./imgs/node-logo-grey.svg)
      &:hover
        background-image url(./imgs/node-logo-color.svg)

.home-text-container
  background-color $home-text-background
  border-radius 5px
  box-shadow 0px 0px 10px 0px rgba(50, 50, 50, 0.05);
  margin 0 auto
  position relative
  text-align center
  width 80%
  p
    padding 20px
    line-height 20px
    margin-bottom 20px
