@import '../vars.styl';

.home
  background-image $home-background
  color $home-color
  min-height 350px
  padding-bottom 40px
  @media screen and (min-width: 899px)
    padding-top 60px
  .home-padding
    padding-top 30px
  .home-img-container
    display flex
    justify-content space-between
    padding 10px 0px 25px 0px
    @media screen and (min-width: 899px)
      margin-top 60px
      margin-bottom 30px
    .home-logo
      align-items flex-end
      background-position center
      background-repeat no-repeat
      display flex
      height 60px
      justify-content center
      margin-bottom 20px
      transform:translate3d(0,0,0);
      transition all .3s
      transition-timing-function: ease-in-out
      width 60px
      span
        bottom -20px
        position relative
        text-align center
        width 100%

    .logo-react
      background-image url(./imgs/react-logo-grey.svg)
      &:hover
        background-image url(./imgs/react-logo-color.svg)
    .logo-sass
      background-image url(./imgs/sass-logo-grey.svg)
      &:hover
        background-image url(./imgs/sass-logo-color.svg)
    .logo-git
      background-image url(./imgs/git-logo-grey.svg)
      &:hover
        background-image url(./imgs/git-logo-color.svg)
    .logo-node
      background-image url(./imgs/node-logo-grey.svg)
      &:hover
        background-image url(./imgs/node-logo-color.svg)

.intro
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size 3em
  font-weight 100
  padding 20px 0px 20px 0px
  text-align center
  @media screen and (min-width: 899px)
    padding-bottom 50px
    font-size 4em
  .intro-img
    content url(./imgs/sql-tablet.png)
    height auto;
    width 60px
    display none
