@import '../vars.styl';

nav
  background-color gold
  color black
  padding 15px
  transition all 0.5s
  width 100%
  .nav-links
    justify-content space-between
    display flex
    margin 0 auto
    width 90%
    .nav-link
      font-weight 700
      user-select none
      &:hover
        cursor default
    @media screen and (min-width: 450px)
      justify-content flex-end
      width 405px
      .nav-link
        margin-right 15px
    @media screen and (min-width: 899px)
      width 700px
      .nav-link
        margin-right 25px

.fixed-nav
  nav
    background-color $nav-background-color
    box-shadow 0px 0px 10px 0px rgba(50, 50, 50, 0.8);
    color $nav-color
    position fixed
    top 0

    width 100%
    z-index 99
  .home
    padding-bottom 86px
