@import 'nib';
@import '../vars.styl';

nav
  background-color $nav-background-color
  color $nav-color
  padding 15px
  width 100%
  .nav-links
    justify-content space-between
    display flex
    margin 0 auto
    width 90%
    .nav-link
      user-select none
      &:hover
        cursor default
    @media screen and (min-width: 600px)
      justify-content flex-end
      width 345px
      .nav-link
        margin-right 15px


.fixed-nav
  nav
    box-shadow 0px 0px 10px 0px rgba(50, 50, 50, 0.8);
    position fixed
    top 0
    transition all 0.5s
    width 100%
    z-index 99
  .home
    padding-bottom 86px
