@import 'nib';
@import '../vars.styl';

nav
  background-color $nav-background-color
  color $nav-color
  padding 15px
  .nav-links
    justify-content space-between
    display flex
    margin 0 auto
    width 90%
    .nav-link
      user-select none
      &:hover
        cursor default
