
$font-family = 'Open Sans', Helvetica, sans-serif
$main-font = normal .95em $font-family

$home-background = linear-gradient(to top, #FFC21C 0%, #FBA100 100%);
$home-text-background = rgba(255, 255, 255, 0.4)
$home-color = black

$intro-background = rgba(255, 255, 255, 0.75)

$nav-background-color = black
$nav-color = #FFC21C

$twitch-background-color = #6bbaa7
$sql-background-color = #6c648b

$contact-background-color = #f1f1f1
