
$font-family = 'Open Sans', Helvetica, sans-serif
$main-font = normal .95em $font-family

$home-background = gold
$home-color = black

$nav-background-color = black
$nav-color = gold

$twitch-background-color = #c28642
$sql-background-color = #7779ab
