article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
}
html,
body {
  min-height: 100%;
  font: normal 0.95em 'Open Sans', Helvetica, sans-serif;
}
body {
  background-image: $body-background;
}
.text-container {
  width: 80%;
}
.home {
  background-color: #ffd700;
  color: #000;
  min-height: 350px;
}
.home .home-padding {
  padding-top: 30px;
}
.home .home-img-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 10px;
}
.home .home-img-container .home-logo {
  background-repeat: no-repeat;
  height: 75px;
  width: 100px;
}
.home .home-img-container .logo-react {
  background-image: url("./imgs/react-logo-color.svg");
}
.home .home-img-container .logo-sass {
  background-image: url("./imgs/sass-logo-color.svg");
}
.home .home-text-container {
  background-color: #f00;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 80%;
}
.home p {
  padding: 40px;
}
nav {
  background-color: #000;
  color: #ffd700;
  padding: 20px;
}
nav .nav-links {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 0 auto;
  width: 80%;
}
nav .nav-links .nav-link {
  margin-right: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
nav .nav-links .nav-link:hover {
  cursor: default;
}
