html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
  font: inherit;
}
html,
body {
  min-height: 100%;
  font: normal 0.95em 'Open Sans', Helvetica, sans-serif;
}
body {
  background-image: $body-background;
  font-family: 'Arimo', sans-serif;
}
a {
  text-decoration: none;
}
.contact {
  align-items: center;
  background-color: #f1f1f1;
  display: flex;
  padding: 20px;
  position: relative;
  z-index: 3;
}
.contact .contact-logo {
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 60px;
  justify-content: center;
  margin-bottom: 20px;
  transition: all 0.15s;
  width: 60px;
}
.contact .contact-logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.contact .contact-logo:hover span {
  color: #000;
}
.contact .contact-logo span {
  bottom: -20px;
  color: #888e99;
  position: relative;
  text-align: center;
  width: 100%;
}
.contact .logo-email {
  background-image: url("./imgs/gmail-logo.svg");
}
.contact .logo-email:hover {
  cursor: default;
  transform: scale(1);
}
.contact .logo-email span {
  margin-left: -50px;
  user-select: all;
}
.contact .logo-email span:hover {
  cursor: pointer;
}
.contact .logo-linked {
  background-image: url("./imgs/linkedin-logo.svg");
}
.contact .logo-github {
  background-image: url("./imgs/github-logo.svg");
}
.text-container,
.project-container,
.home .home-text-container,
.contact-container {
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 450px) {
  .text-container,
  .project-container,
  .home .home-text-container,
  .contact-container {
    width: 405px;
  }
}
@media screen and (min-width: 899px) {
  .text-container,
  .project-container,
  .home .home-text-container,
  .contact-container {
    width: 700px;
  }
}
.home-text-container {
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.05);
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 80%;
}
.home-text-container p {
  font-size: 16px;
  padding: 20px;
  line-height: 26px;
  margin-bottom: 20px;
}
.project-container,
.project-container a {
  text-align: center;
  color: #fff;
  display: block;
}
@media screen and (min-width: 1599px) {
  .project-container {
    width: 1200px;
  }
}
.contact-container {
  display: flex;
  justify-content: space-around;
}
.home {
  background-image: linear-gradient(to bottom, #ffc21c 0%, #ffdf40 100%);
  color: #000;
  min-height: 350px;
  padding-bottom: 40px;
}
@media screen and (min-width: 899px) {
  .home {
    padding-top: 60px;
  }
}
.home .home-padding {
  padding-top: 30px;
}
.home .home-img-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 25px 0px;
}
@media screen and (min-width: 899px) {
  .home .home-img-container {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
.home .home-img-container .home-logo {
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 60px;
  justify-content: center;
  margin-bottom: 20px;
  transition: all 0.3s;
  width: 60px;
}
.home .home-img-container .home-logo span {
  bottom: -20px;
  position: relative;
  text-align: center;
  width: 100%;
}
.home .home-img-container .logo-react {
  background-image: url("./imgs/react-logo-grey.svg");
}
.home .home-img-container .logo-react:hover {
  background-image: url("./imgs/react-logo-color.svg");
}
.home .home-img-container .logo-sass {
  background-image: url("./imgs/sass-logo-grey.svg");
}
.home .home-img-container .logo-sass:hover {
  background-image: url("./imgs/sass-logo-color.svg");
}
.home .home-img-container .logo-git {
  background-image: url("./imgs/git-logo-grey.svg");
}
.home .home-img-container .logo-git:hover {
  background-image: url("./imgs/git-logo-color.svg");
}
.home .home-img-container .logo-node {
  background-image: url("./imgs/node-logo-grey.svg");
}
.home .home-img-container .logo-node:hover {
  background-image: url("./imgs/node-logo-color.svg");
}
nav {
  color: #000;
  padding: 15px;
  transition: all 0.5s;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
}
nav .nav-links {
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  width: 90%;
}
nav .nav-links .nav-link {
  font-weight: 700;
  user-select: none;
}
nav .nav-links .nav-link:hover {
  cursor: default;
}
@media screen and (min-width: 450px) {
  nav .nav-links {
    justify-content: flex-end;
    width: 405px;
  }
  nav .nav-links .nav-link {
    margin-left: 15px;
  }
}
@media screen and (min-width: 899px) {
  nav .nav-links {
    width: 700px;
  }
  nav .nav-links .nav-link {
    margin-left: 25px;
  }
}
.fixed-nav nav {
  background-color: #000;
  box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.8);
  color: #ffd700;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
@media screen and (min-width: 1599px) {
  .fixed-nav nav .nav-links {
    width: 1200px;
  }
}
.fixed-nav .home {
  padding-bottom: 86px;
}
.project-twitch {
  background-color: #c28642;
}
.project-sql {
  background-color: #7779ab;
  position: relative;
  z-index: 2;
}
.project {
  display: flex;
}
.project h1,
.project h2 {
  width: 100%;
  margin-bottom: 25px;
  padding: 0px;
}
.project h1 {
  display: block;
  font-family: 'Cormorant', serif;
  font-size: 2.2em;
  font-weight: 600;
  padding-top: 45px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
@media screen and (min-width: 899px) {
  .project h1 {
    padding-top: 60px;
    font-size: 2.7em;
  }
}
@media screen and (min-width: 1599px) {
  .project h1 {
    padding-top: 90px;
    font-size: 3em;
  }
}
@media screen and (min-width: 899px) {
  .project h2 {
    font-size: 1.1em;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
.project .github-anchor {
  border: solid 1px #fff;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 45px;
  padding: 7px;
  transition: all 0.5s;
  user-select: none;
  width: 130px;
}
.project .github-anchor:hover {
  background-color: rgba(255,255,255,0.1);
}
@media screen and (min-width: 899px) {
  .project .github-anchor {
    padding: 11px;
    margin-bottom: 60px;
  }
}
.tablet {
  align-items: flex-end;
  background-color: #101a24;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.5);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3% 3% 0px 3%;
}
.tablet .twitch-tablet-image {
  content: url("./imgs/twitch-tablet.png");
  width: 100%;
  height: 95%;
  transform: translateZ(0);
}
.tablet .sql-gui-tablet-image {
  content: url("./imgs/sql-tablet.png");
  width: 100%;
  transform: translateZ(0);
}
